.user-input {
  width: 46vw;
  background-color: white;
  border: 0px solid white;
  margin: 0;
  padding: 4px;
  overflow: vi;
  line-height: 24px;
  min-height: 70vh;
  border: 1px solid red;
  outline: none;
}

.container {
  background-color: #333;
  width: 100vw;
  height: 100vh;
}

.textarea-form {
  width: 46vw;
}

.output-container {
  border: 1px solid #333;
  background-color: white;
  min-height: 70vh;
  width: 46vw;
}

.normal-value {
  word-wrap: break-word;
}
