.user-input {
  width: 46vw;
  height: 90vh;
  background-color: white;
  border: 1px solid white;
  outline: none;
  border-radius: 2%;
  resize: none;
}

.container {
  background-color: #333;
  width: 100vw;
  height: 100vh;
}
